<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="icon"
    href="https://ld-wp.template-help.com/wordpress_prod-22160/v1/wp-content/uploads/2019/02/cropped-favicon-32x32.png"
    sizes="32x32"
  />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet" href="/CSS/base.css">
    <% if (isAuthenticated) { %>
        <% if (currentUser.type === 'staff') { %>
            <link rel="stylesheet" href="/CSS/profile.css" />
        <% } else { %>
            <link rel="stylesheet" href="/CSS/profile1.css" />
        <% } %>
    <% } %>
    <title>Profile</title>
</head>
<body>
    <!---------NAVBAR---------->
    <section class="header-container">
        <div class="header-container-flex-desktop">
          <div class="Logo-desktop">
            <a href="/home"><img src="/images/logo.png" alt="" /></a>
          </div>
          <div class="menubar-pc">
            <a class="item" href="/home"><span>Home</span></a>

            <% if (!isAuthenticated) { %>
              <a class="item" href="/login"><span>Login</span></a>
              <a class="item" href="/register"><span>Register</span></a>
            <% } else { %>
              <% if (currentUser.type === 'staff') { %>
                <a href="/order/staff" class="item">View Pending Orders</a>
            <% } %>
              <a class="item" href="/menu"><span>Menu</span></a>
              <a class="item" href="/profile"><span>Profile</span></a>
              <a class="item" href="/logout"><span>Log out</span></a>
              <a class="item" href="/order/pending"><span>Pending</span></a>
            <% } %>
            <a class="item" href="/GPS"><span>GPS</span></a>
          </div>
      </section>

    <div class="container profile-container">
        <div class="card profile-card">
            <div class="card-header">
                <h2>Edit Profile</h2>
            </div>
            <div class="card-body">
                <form action="/profile/edit" method="POST">
                    <!-- First Name Input -->
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" value="<%= currentUser.firstName %>" required>
                    </div>
                    
                    <!-- Last Name Input -->
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" value="<%= currentUser.lastName %>" required>
                    </div>
                    
                    <!-- Date of Birth Input -->
                    <div class="form-group">
                        <label for="dob">Date of Birth:</label>
                        <input type="date" id="dob" name="dob" class="form-control" value="<%= currentUser.dob.toISOString().split('T')[0] %>" required>
                    </div>

                    <!-- Preferred Fuel Dropdown -->
                    <div class="form-group">
                        <label for="prefFuel">Preferred Fuel:</label>
                        <select id="prefFuel" name="prefFuel" class="form-control">
                            <option value="Petrol" <%= currentUser.prefFuel === 'Petrol' ? 'selected' : '' %>>Petrol</option>
                            <option value="Diesel" <%= currentUser.prefFuel === 'Diesel' ? 'selected' : '' %>>Diesel</option>
                        </select>
                    </div>

                    <!-- Payment Method Dropdown -->
                    <div class="form-group">
                        <label for="paymentMethod">Payment Method:</label>
                        <select id="paymentMethod" name="paymentMethod" class="form-control" onchange="togglePaymentFields(this.value)">
                            <option value="cash" <%= currentUser.paymentMethod === 'cash' ? 'selected' : '' %>>Cash</option>
                            <option value="card" <%= currentUser.paymentMethod === 'card' ? 'selected' : '' %>>Card</option>
                        </select>
                    </div>

                    <div id="cardDetails" style="display: none;">
                        <div class="form-group" id="cardNumberContainer">
                            <label for="cardNumber">Card Number:</label>
                            <input type="text" id="cardNumber" name="cardNumber" class="form-control" value="<%= currentUser.cardNumber %>" placeholder="<%= currentUser.cardNumber %>">
                        </div>

                        <div class="form-group" id="cvvContainer">
                            <label for="CVV">CVV:</label>
                            <input type="password" id="CVV" name="CVV" class="form-control" value="<%= currentUser.CVV %>" placeholder="<%= currentUser.CVV %>">
                        </div>

                        <div class="form-group" id="expirationDateContainer">
                            <label for="expirationDate">Expiration Date:</label>
                            <div class="form-row">
                                <div class="col">
                                    <select id="expirationMonth" name="expirationMonth" class="form-control">
                                        <option value=''>Month</option>
                                        <option value='01' <%= currentUser.expirationMonth === '01' ? 'selected' : '' %>>January</option>
                                        <option value='02' <%= currentUser.expirationMonth === '02' ? 'selected' : '' %>>February</option>
                                        <option value='03' <%= currentUser.expirationMonth === '03' ? 'selected' : '' %>>March</option>
                                        <option value='04' <%= currentUser.expirationMonth === '04' ? 'selected' : '' %>>April</option>
                                        <option value='05' <%= currentUser.expirationMonth === '05' ? 'selected' : '' %>>May</option>
                                        <option value='06' <%= currentUser.expirationMonth === '06' ? 'selected' : '' %>>June</option>
                                        <option value='07' <%= currentUser.expirationMonth === '07' ? 'selected' : '' %>>July</option>
                                        <option value='08' <%= currentUser.expirationMonth === '08' ? 'selected' : '' %>>August</option>
                                        <option value='09' <%= currentUser.expirationMonth === '09' ? 'selected' : '' %>>September</option>
                                        <option value='10' <%= currentUser.expirationMonth === '10' ? 'selected' : '' %>>October</option>
                                        <option value='11' <%= currentUser.expirationMonth === '11' ? 'selected' : '' %>>November</option>
                                        <option value='12' <%= currentUser.expirationMonth === '12' ? 'selected' : '' %>>December</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select id="expirationYear" name="expirationYear" class="form-control">
                                        <option value=''>Year</option>
                                        <option value='24' <%= currentUser.expirationYear === '24' ? 'selected' : '' %>>24</option>
                                        <option value='25' <%= currentUser.expirationYear === '25' ? 'selected' : '' %>>25</option>
                                        <option value='26' <%= currentUser.expirationYear === '26' ? 'selected' : '' %>>26</option>
                                        <option value='27' <%= currentUser.expirationYear === '27' ? 'selected' : '' %>>27</option>
                                        <option value='28' <%= currentUser.expirationYear === '28' ? 'selected' : '' %>>28</option>
                                        <option value='29' <%= currentUser.expirationYear === '29' ? 'selected' : '' %>>29</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </div>
            </div>
        </div>
    </div>

    <!---------FOOTER---------->
    <section class="footer-container">
        <div class="footer-content">
            <div class="footer-item">
                <div class="footer-title">Address</div>
                <div class="footer-item-content">
                    <br /> Mawson Lakes Blvd, Mawson Lakes SA 5095
                </div>
            </div>
            <div class="footer-item">
                <div class="footer-title">Follow us</div>
                <div class="footer-item-content" id="icon-box">
                    <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.google.com" target="_blank"><i class="fa-brands fa-google"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.pinterest.com" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
                </div>
            </div>
            <div class="footer-item">
                <div class="footer-title">Contact us</div>
                <div class="footer-item-content">
                    <a href="callto:+1 800 603 6035">+61 47 369 6999</a><br />
                    <a href="callto:+1 800 603 6035">+61 47 369 6969</a><br />
                    <a href="mailto:mail@demolink.org">UTRmail@demolink.org</a>
                </div>
            </div>
        </div>
    </section>
    <div class="copyright">
        <p>Copyright © 2019. All Rights Reserved Theme design by Zemez</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

<script>
    function togglePaymentFields() {
        var paymentMethod = document.getElementById('paymentMethod').value;
        var cardDetails = document.getElementById('cardDetails');
        
        if (paymentMethod === 'card') {
            cardDetails.style.display = 'block';
        } else {
            cardDetails.style.display = 'none';
        }
    }
  </script>
</html>