<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://ld-wp.template-help.com/wordpress_prod-22160/v1/wp-content/uploads/2019/02/cropped-favicon-32x32.png"
      sizes="32x32"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" 
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/base.css" />
    <title>Your Shopping Cart</title>
  </head>

  <body>
    <!---------NAVBAR---------->
    <section class="header-container">
      <div class="header-container-flex-desktop">
        <div class="Logo-desktop">
          <a href="/home"><img src="/images/logo.png" alt="" /></a>
        </div>
        <div class="menubar-pc">
          <a class="item" href="/home"><span>Home</span></a>

          <% if (!isAuthenticated) { %>
            <a class="item" href="/login"><span>Login</span></a>
            <a class="item" href="/register"><span>Register</span></a>
          <% } else { %>
            <% if (currentUser.type === 'staff') { %>
              <a href="/order/staff" class="item">View Pending Orders</a>
          <% } %>
            <a class="item" href="/menu"><span>Menu</span></a>
            <a class="item" href="/profile"><span>Profile</span></a>
            <a class="item" href="/logout"><span>Log out</span></a>
            <a class="item" href="/order/pending"><span>Pending</span></a>
          <% } %>
          <a class="item" href="/GPS"><span>GPS</span></a>
        </div>
      </div>
    </section>
    
    <!-- Main -->
    <div class="container mt-4 mb-4" style="height: 600px;">

      <div class="text-center">
        <h1>Your Cart</h1>
        <a href="/menu" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Back to shopping?</a>
      </div>

      <div class="bg-white shadow-sm rounded border border-secondary mt-3 p-3">
        <% if ( cart.reduce((total, cartItem) => total + ((cartItem.price - ((cartItem.promo_percentage) / 100 * cartItem.price)) * cartItem.quantity), 0).toFixed(2) > 0) { %>
        <div class="table-responsive">
          <table class="table table-hover border fs-6">
            <thead class="table-dark">
              <tr class="align-middle">
                <th scope="col">Item Details</th>
                <th scope="col">Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% cart.forEach(function(cartItem) { %>
                <tr class="align-middle">
                  <td><%= cartItem.name %></td>
                  <td>$<%= cartItem.price.toFixed(2) %></td>
                  <td><%= cartItem.promo_percentage %>%</td>
                  <td><%= cartItem.quantity %></td>
                  <td>$<%= ((cartItem.price - ( (cartItem.promo_percentage) / 100 * cartItem.price)) * cartItem.quantity).toFixed(2) %></td>
                  <td class="text-center">
                    <form action="/cart/remove" method="POST" style="display:inline;">
                      <input type="hidden" name="itemId" value="<%= cartItem.item %>">
                      <button type="submit" class="btn btn-link link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Remove</button>
                  </form>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>

        <div class="text-end">
          <span class="text-muted">Total amount</span> <br />
          <span class="fw-bold fs-4">$<%= cart.reduce((total, cartItem) => total + ((cartItem.price - ((cartItem.promo_percentage) / 100 * cartItem.price)) * cartItem.quantity), 0).toFixed(2) %></span> <br />
          <% if ( cart.reduce((total, cartItem) => total + ((cartItem.price - ((cartItem.promo_percentage) / 100 * cartItem.price)) * cartItem.quantity), 0).toFixed(2) > 0) { %>
          <a href="/order" class="btn btn-success mt-3">Checkout now</a>
          <% } %>
        </div>
        <% } else { %>
          <p class="text-center fs-6">
            Your cart is currently empty. Try <a href="/menu" class="fw-bold">adding some items</a>.
          </p>
        <% } %>
      </div>
    </div>

    <!---------FOOTER---------->
    <section class="footer-container">
      <div class="footer-content">
        <div class="footer-item">
          <div class="footer-title">Address</div>
          <div class="footer-item-content">
            <br /> Mawson Lakes Blvd, Mawson Lakes SA 5095
          </div>
        </div>
        <div class="footer-item">
          <div class="footer-title">Follow us</div>
          <div class="footer-item-content" id="icon-box">
            <a href="https://www.facebook.com" target="_blank"
              ><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank"
              ><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.google.com" target="_blank"
              ><i class="fa-brands fa-google"></i></a>
            <a href="https://www.linkedin.com" target="_blank"
              ><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.pinterest.com" target="_blank"
              ><i class="fa-brands fa-pinterest"></i></a>
          </div>
        </div>
        <div class="footer-item">
          <div class="footer-title">Contact us</div>
          <div class="footer-item-content">
            <a href="callto:+1 800 603 6035">+61 47 369 6999</a><br />
            <a href="callto:+1 800 603 6035">+61 47 369 6969</a><br />
            <a href="mailto:mail@demolink.org">UTRmail@demolink.org</a>
          </div>
        </div>
      </div>
    </section>
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/JS/home.js"></script>
  </body>
</html>